/* styles.css */
body {
    background-color: #131F30;
}

.input-conteiner {
  margin-top: 1rem;
}
.input-conteiner label {
  font-size: 1.5rem;
  color: #FFF;
}
.input-conteiner input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  color: #FFF;
  background-color: #131F30;
}
.button-close-container {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 1rem;
}
.button-close {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.button-close .img-close-svg {
    width: 15px;
}
.primary-button-blue {
  cursor: pointer;
    padding: 1.2rem;
    margin-right: 1rem;
    color: #FFF;
    background-color: #3C3EC1;
    border-radius: 5px;
    outline: none;
    border: none;
}
.form-create-new-race-conteiner[display="false"] {
    display: none;
}
.form-create-new-race-conteiner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form-create-new-race-conteiner .form-create-new-race {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 10px;
    padding: 3rem 5rem;
    background-color: #203552;
}
.segundary-button-container  {
    width: 100%;
    margin-top: 2rem;
}
.segundary-button-container .segundary-button {
    cursor: pointer;
    padding: 0.7rem 1rem;
    color: #FFF;
    background-color: #3C3EC1;
    border-radius: 5px;
    outline: none;
    border: none;
}
.button-add-category-conainer {
  display: flex;
  justify-content: end;
}
.main-content {
    padding: 5rem 5rem;
}
.main-content .header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem;
}
.main-content .header .title-page {
    padding: 1rem;
    color: #fff;
    font-size: 2.5rem;
}

.races-section .grid-table {
    width: 100%;
}
.races-section .grid-table .grid-table-header {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.5fr;
    padding: 1rem;
    font-size: 1.5rem;
    color: #808488;
    list-style: none;
    border-bottom: #213552 3px solid;
}
.races-section .grid-table .grid-table-body {
  overflow-y: scroll;
  height: 500px;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-bottom: #213552 3px solid;
}
.races-section .grid-table .grid-table-body::-webkit-scrollbar {
  width: 7px;
  padding-right: 0.5rem;
}
.races-section .grid-table .grid-table-body::-webkit-scrollbar-thumb {
  background-color: #3C3EC1;
  border-radius: 20px;
}
.races-section .grid-table .grid-table-body .grid-table-row {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.5fr;
    height: 50px;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #A2A7AD;
    list-style: none;
    transition: background 0.1s ease-in-out;
}
.races-section .grid-table .grid-table-body .grid-table-row:hover {
    border-radius: 5px;
    background-color: #213552;
}
.races-section .grid-table .grid-table-body .grid-table-row li .delect-button {
    cursor: pointer;
    background-color: transparent;
    padding: 1rem 3rem;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #E24543;
    transition: background 0.1s ease-in-out;

}
.races-section .grid-table .grid-table-body .grid-table-row  li .delect-button:hover {
    background-color: #E24543;
}
.races-section .add-new-race h3 {
    color: #3C3EC1;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

}