body {
  background-color: #131F30;
}

.input-conteiner {
  margin-top: 1rem;
}
.input-conteiner label {
  font-size: 1.5rem;
  color: #FFF;
}
.input-conteiner input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  color: #FFF;
  background-color: #213552;
}

.blu-button-conteiner {
  margin-top: 1rem;
}
.blu-button-conteiner .blu-button {
  cursor: pointer;  
  color: #FFF;
  padding: 1.2rem;
  margin-right: 1rem;
  background-color: #3C3EC1;
  border-radius: 5px;
  border: none;
}

.main-content {
  position: relative;
  top: 30px;
  height: 100vh;
  background-color: transparent;
}

.main-content .back-button-container button { 
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  background-color: #3C3EC1;
  border: none;
}

.main-content .race-name-main {
  width: 100%;
  margin-top: 3rem;
  padding: 0rem 5rem;
}

.main-content .race-name-main .race-name-container {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: #213552 3px solid;
  color: white;
}

.main-content .form-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  color: white
}
.main-content .form-container .form-container-main .form-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.main-content .form-container .form-container-main .form-content .input-conteiner {

  position: relative;
  margin-top: 1rem;
}
.main-content .form-container .form-container-main .form-content .input-conteiner input, label {
  cursor: pointer;
}
.main-content .form-container .form-container-main .form-content .input-conteiner ul {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100px;
  margin-top: 0.2rem;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  list-style: none;
  background-color: #213552;
  color: #fff;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.main-content .form-container .form-container-main .form-content .input-conteiner ul[display="false"] {
  overflow: hidden;
  height: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
.main-content .form-container .form-container-main .form-content .input-conteiner ul::-webkit-scrollbar {
  width: 5px;
  padding-right: 0.5rem;
}
.main-content .form-container .form-container-main .form-content .input-conteiner ul::-webkit-scrollbar-thumb {
  background-color: #3C3EC1;
  border-radius: 20px;
}
.main-content .form-container .form-container-main .form-content .input-conteiner ul li {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.main-content .form-container .form-container-main .form-content .input-conteiner ul li:hover {
  background-color: #131F30;
}
.main-content .form-container .form-container-main .form-content div label {
  font-size: 1.5rem;
}
.main-content .form-container .form-container-main .form-content div input {
  margin: 1rem 0rem 0.5rem;
}